@import '../reset_scss/GLOBAL.scss';

.add_note_inp{
    margin: 0px 10px 5px 0px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gray;
    &:focus{
        outline: none;
        border: 1px solid greenyellow;
    }
}
.radio{
    margin-bottom: 20px;
    input[type = radio]{
        margin-right: 15px;
    }
}
.add_note_but{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.onchange{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    background: greenyellow;
}
  
.about_note{
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    @include mobile{
        flex-direction: column;
    }
    .update_input{
        border-radius: 5px;
        padding: 5px;
        border: 1px solid gray;

        &:focus{
            outline: none;
            border: 1px solid greenyellow;
        }
    }
    
    p{
        margin: 0px 10px 5px 0px;
        font-size: 20px;
        text-indent: 10px;
        
        
    }
    p:first-child{
       width: 100%;
       text-align: center;
    }
    p:nth-child(2){
        font-weight: 550;
        cursor: pointer;
        margin-bottom: 25px;
        @include mobile{
            margin-bottom: 5px;
        }
    }
    p:nth-child(3){
        font-weight: 550;
        margin-bottom: 25px;
        color: gray;
        font-size: 16px;
        @include mobile{
            margin-bottom: 5px;
        }
       
    }
    p:last-child{
        margin-bottom: 25px;
        
        @include mobile{
            margin-bottom: 25px;
        }
        .update_but{
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            margin-right: 5px;
        }
    }  
}

.logaut{
    position: absolute;
    top: 20px;
    right: 20px;
}