@import '../reset_scss/GLOBAL.scss';

.add_note_inp{
    margin: 0px 10px 5px 0px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    
    &:focus{
        outline: none;
        outline: none;
    }
}
.add_note_button{
    width: 80px;
    border-radius: 5px;
    padding: 4px;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    // letter-spacing: 1px;
    border: none;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    font-family: 'Roboto', sans-serif;
    &:hover{
        color: white;
        background-color: $color1;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
}
.radio{
    margin-bottom: 20px;
    input[type = radio]{
        margin-right: 15px;
    }
    .radio_all{
        color: $color2;
    }
    .radio_important{
        color: $color4
    }
    .radio_noneimportant{
        color: $color1;
    }
    @include mobile{
        font-size: 15px;
    }
}
.add_note_but{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.onchange{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgb(205, 228, 171);
    width: 70px;
    border-radius: 5px;
    padding: 4px;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
    cursor: pointer;
    &:hover{
        color: white;
        background-color: yellowgreen;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
}
  
.about_note{
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    @include mobile{
        flex-direction: column;
        font-size: 16px;
    }
    .noneimportant{
        color: $color1;
    }
    .important{
        color: $color4;
    }
    
    .update_input{
        border-radius: 5px;
        padding: 5px;
        border: none;

        &:focus{
            outline: none;
            // border: 1px solid greenyellow;
        }
    }
    
    p{
        margin: 0px 10px 5px 0px;
        font-size: 20px;
        text-indent: 10px;
        
        
    }
    p:first-child{
       width: 100%;
       text-align: center;
    }
    p:nth-child(2){
        font-weight: 550;
        cursor: pointer;
        margin-bottom: 25px;
        @include mobile{
            margin-bottom: 5px;
        }
    }
    p:nth-child(3){
        font-weight: 550;
        margin-bottom: 25px;
        // color: $color2;
        color: white;
        font-size: 16px;
        @include mobile{
            margin-bottom: 5px;
        }
       
    }
    p:last-child{
        margin-bottom: 25px;
        
        @include mobile{
            margin-bottom: 25px;
        }
        .update_but{
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            margin-right: 5px;
            width: 80px;
            border-radius: 5px;
            padding: 4px;
            text-transform: uppercase;
            -webkit-transition : all 200ms linear;
            transition: all 200ms linear;
            letter-spacing: 1px;
            border: none;
            box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            &:hover{
                color: white;
                background-color: $color1;
                box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
            }
        }
    }  
}

.logaut{
    position: absolute;
    top: 20px;
    
    width: 100px;
    border-radius: 5px;
    padding: 4px;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    &:hover{
        color: white;
        background-color: $color1;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
}

.for_responsive{
    @include mobile{
        margin-top: 60px;
    }
}
