@import "./reset_scss/GLOBAL.scss";
body{
    padding: 20px;
    background-color: $color3;
    font-family: 'Roboto', sans-serif;
}
.themeE{
    background: black;
}
.main_wrapper{
    display:  flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    .theme{
        position: absolute;
        top: 80px;
        left: 20px;
        cursor: pointer;
        color: white;
        font-weight: 700;
        @include mobile{
            font-size: 13px;
        }
    }
   
    h1{
        margin-bottom: 50px;
        font-size: 25px;
        text-align: center;
        color: $color1;
        font-family: 'Nothing You Could Do', cursive;
        font-weight: 700;
        @include mobile{
            font-size: 20px;
        }
    }
    .reg_log_wrappwer{
        display:  flex;
        width: 100%;
        
    }
}

.first_page{
    display: flex;
    width: 100%;
    @include mobile{
        flex-direction: column;
    }
}

button{
    cursor: pointer;
}