@import "../../reset_scss/GLOBAL.scss";
.main_reg{
    flex: 1;
    @include mobile{
        margin-bottom: 25px;
    }
   
    .reg_wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 180px;
        .error{
            background: red;
            height: 20px;
            text-align: center;
        }
        input{
            padding: 5px;
            border-radius: 5px;
            border: 1px solid grey;
            background: rgb(243, 243, 243);
            &:focus{
                outline: none;
            }  
        }
        button{
            width: 100px;
            border-radius: 5px;
            padding: 4px;
            border: 1px solid grey;
        }
    }
}